# Stellar Contract ID
# Copy this from your deployed contract after running `soroban contract deploy`
VITE_CONTRACT_ID=

# Soroban RPC URL
# If not set, defaults to https://soroban-testnet.stellar.org
VITE_RPC_URL=

# Stellar Network Passphrase
# Set this to configure which network the frontend connects to
# Available values: "Test SDF Network ; September 2015" (testnet), "Public Global Stellar Network ; September 2015" (mainnet)
# If not set, defaults to testnet
VITE_NETWORK_PASSPHRASE=
